html{
  font-size: 1.0em; /* 16px */
  line-height: 1.25em; /* 20px*/
  text-rendering: optimizeLegibility;
}

body{
  font-family: 'Exo', sans-serif;
  color: black;
  background-color:#DCDCDC;
  padding-top:20px;
}
form{
  border-radius: 7px;
}
label{
  display:block;
  padding: 5px;
  text-align: center
  
}

h1 {
  font-size: 2.25em; 
  line-height: 1.618em; 
  font-style: normal; 
  font-weight: normal;
	text-align: center;
} 


#maincontainer{
  background-color:black	;
}

input{
  resize: vertical;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

/*subscribe button css */


/* ===== MODULAR STYLES ===== */
/* === media queiries === */
/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (min-width: 300px) { 

  main {
    width: 80%;
    margin: auto;
    padding: 5px 0px;
}

  form {
    width: 90%;
    margin: auto;
  }

  input[type="text"] {
    width: 70%;
    border-radius: 5px;
    margin:.2em 3em.2em 3em;
    padding: 4px;
    text-align:center;
  }
  
  h1 {
    font-size: 1.618em; /* 35.596px @ 22 */
    line-height: 1.618em; /* 26px / ~ 1.618% */ /* ( 26px / 22px = 1.182em ) */ 
    font-style: normal; 
    font-weight: normal;
  } 
  
}

/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 658px) {
  
  body{
    background-color: #DCDCDC	;
  }
  
  form{
    width:80%;
    margin:auto;
    text-align:left;
  }
  input[type="text"]{
    width: 60%;
    border-radius: 5px;
    margin:.3em 7em .3em;
    padding: 6px;
    text-align:center;
  }

}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 996px) {
  body{
    background-color:#DCDCDC	
  }
  form{
    width:80%;
    margin:auto;
    text-align:left;
  }

  main {
    width: 80%;
    display: block;
    margin:auto;
    text-align: center;
    padding: 10px 10px;
    } 
    
  input[type="text"] {
    width: 60%;
    border-radius: 5px;
    margin: .3em 11em;
    padding: 6px;
    text-align:center;
  }

}